html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: darkgray;
}

h1.background {
    font-size: 45px;
    color: white;
}

.background {
    background-color: darkred;
    font-size: 20px;
}

h2.background {
    font-size: 30px;
    color: white;
}

.center-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center-text {
    text-align: center;
}

.listDesign li {
    display: inline-block;
    margin: auto 15px;
}

.pageButton {
    font-size: 18px;
    border: solid black 2px;
    background-color: lightblue;
    width: 300px;
    height: 100px;
}

.pageButton:hover {
    opacity: 90%;
    color: white;
}

.listDesign a{
    color: black;
    text-decoration: none;
}

.title {
    color: white;
    text-shadow: 0 0 10px black;
}

.imgBorder {
    border: solid 10px white;
}
